$hc-icons: (
  'icon-top-back-arrow': '~@/images/Topicon_BackArrow.svg'
);

@mixin background-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  @content;
}

@mixin default-icon-style {
  height: 20px;
  width: 20px;
  vertical-align: middle;
  display: inline-block;
}

@mixin getIcon($name) {
  @include background-img {
    background-image: url(map-get($hc-icons, $name));
  }
}
